{% extends 'task/sidmain.html' %}

{% load static %}

{% block content %}

    {% include 'task/status.html' %}

    <br>

    <div class="row">
        <div class="col-md-5 mb-4">
            <h5 style="font-weight: bold;">WORKERS:</h5>
            <hr>
            <div class="card card-body table-responsive" style="background-color:lightgrey;">
                <table class="table table-sm">
                    <tr>
                        <th>Worker</th>
                        <th>Email</th>
                    </tr>


                    {% for worker in workers %}
                        <tr>
                            <td style="font-size:11px;"><a href="{% url 'worker' worker.id %}" style="color: blue;">{{worker.user|capfirst}}</a></td>
                            <td style="font-size:11px;">{{worker.email}}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8" class="text-center">No workers yet!</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

        <div class="col-md-7">
            <h5 style="font-weight: bold;">LATEST ATTEMPTED TASKS:</h5>
            <hr>
            <div class="card card-body table-responsive" style="background-color:lightgrey;">
                <table class="table table-sm">
                    <tr>
                        <th>Task</th>
                        <th>Worker</th>
                        <th>Updated</th>
                        <th>Link</th>
                        <th>Verify</th>
                        <th>Disapprove</th>

                    </tr>

                    
                    {% for t in pending_tasks %}
                    <tr style="font-size:11px;">
                        <td>{{t.task.category}} {{t.task.category_2}}</td>
                        <td><a style="color: blue;" href="{% url 'worker' t.worker.id %}">{{t.worker|capfirst}}</a></td>
                        <td>{{t.task.updated}}</td>
                        <td><button style="font-size: 11px;" class="btn btn-sm btn-success"><a style="color: white;" href="{{t.task.link}}" target="_blank">Check</a></button></td>
                        <td><a style="font-size: 11px;" class="btn btn-sm btn-info" href="{% url 'verify_task' t.id %}">Verify</a></td>
                        <td><a style="font-size: 11px;" class="btn btn-sm btn-danger" href="{% url 'disapprove_task' t.id %}">Disapprove</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">There are no pending tasks</td>
                    </tr>
                    {% endfor %}
                    </tr>  
                    

                </table>
            </div>
        </div>

    </div>

    

{% endblock %}