{% extends 'task/sidmain.html' %}
{% load static %}

{% block title %}Kaycions | Disapproved Tasks{% endblock %}

{% block content %}

    <div class="row" style="margin-top:30px;">
        <div class="col-md">
            <div class="card card-body" style="background-color:lightgrey;">
                <div class="table-responsive">
                  <table class="table table-sm" id="task-table">

                    <tr>
                        <th>Task</th>
                        <th>Price</th>
                        <th>Worker</th>
                        <th>Link</th>
                        <th>Date Performed</th>
                        <th>Approve</th>
                      
                      </tr>
                      {% for t in tasks %}
                        <tr style="font-size: 11px;">
                          <td>{{t.task.category}} {{t.task.category_2}}</td>
                          <td>${{t.task.price|floatformat:2}}</td>
                          <td><a style="color: blue;" href="{% url 'worker' t.worker.id %}">{{t.worker|capfirst}}</a></td>
                          <td><a style="font-size: 11px;" class="btn btn-sm btn-success" href="{{t.task.link}}" target="_blank">Link</a></td>
                          <td>{{t.date_performed}}</td>
                          <td><a style="font-size: 11px;" type="button" class="btn btn-success btn-sm" href="{% url 'verify_task' t.id %}">Approve</a></td>
                        </tr>
                      {% empty %}
                        <tr>
                          <td colspan="8" class="text-center">No disapproved tasks</td>
                        </tr>
                      {% endfor %}

                  </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
