<div class=" table-responsive" style="margin-top: 2em;">
    <div class="text-center" style="display: flex; width: 10em;">
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" id="earnings-total" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Earnings Total</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">${{earnings_total}}</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" id="earnings-pending" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Earnings Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">${{pending_earnings}}</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" id="earnings-verified" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Earnings Verified</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">${{verified_earnings}}</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" id="earnings-disapproved" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Earnings Disapproved</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">${{disapproved_earnings}}</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" id="earnings-requested" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Earnings Requested <i style="font-size: 14px; color: yellow;" class="fas fa-dot-circle"></i></h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">${{withdrawn_earnings}}</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" id="earnings-paid" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Earnings Paid <i style="font-size: 14px; color: lightgreen;" class="fas fa-check-circle"></i></h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">${{paid_earnings}}</h3>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
