{% extends 'task/main.html' %}

{% load static %}

{% block content %}

<section id="showcase">
  <div class="container">
    <h1 class="welcome">WELCOME</h1>
    <h1>Earn money from the comfort of your home</h1>
      <p>Here at Kaycions, Get paid to perform simple tasks on various social media platforms and withdraw earnings directly to your paypal account.</p>
  </div>
</section>

<nav class="navbar navbar-light justify-content-between" style="padding: 25px; background-color: #212529;">
  <span style="color: white;" class="navbar-brand">Suscribe To Our Newsletter</span>
  <form method="post" class="form-inline d-flex">
    {% csrf_token %}
    {{form.email}}
    <button style="margin-left: 15px;" class="btn btn-outline-success my-2 my-sm-0" type="submit">Suscribe</button>
  </form>
</nav>

<div class="container-fluid mt-3 mb-3 contt">
  <h2 style="font-weight: bold;">How It Works</h2>
  <div class="row ">
    <div class="col">
      <div class="card " style=" max-width: 700px; background-color: #dcdcdc;">
        <div class="card-body" style="border-left: #a9a9a9 2px solid; border-right: #a9a9a9 2px solid; border-top: #a9a9a9 2px solid; border-bottom: #a9a9a9 2px solid;">
          <h5 class="card-title " style="font-weight: bold;">Sign Up</h5>
          <p class="card-text">Click the button below to sign up. Make sure you fill in your details correctly to be approved for withdrawal.</p>
          <a href="{% url 'register' %}" class="btn btn-primary">Sign Up</a>
        </div>
        <div class="card-body" style="border-left: #a9a9a9 2px solid; border-right: #a9a9a9 2px solid; border-bottom: #a9a9a9 2px solid;">
          <h5 class="card-title" style="font-weight: bold;">Activity Engagement</h5>
          <p class="card-text">Log In and engage in different tasks and activities in your dashboard.</p>
          <a href="#" class="btn btn-primary">Terms & Conditions</a>
        </div>
        <div class="card-body" style="border-left: #a9a9a9 2px solid; border-right: #a9a9a9 2px solid; border-bottom: #a9a9a9 2px solid;">
          <h5 class="card-title" style="font-weight: bold;">Withdrawal</h5>
          <p class="card-text">Put in your verified Paypal account while editing your profile so that you can cash out after meeting the earnings requirement..</p>
          <a href="#" class="btn btn-primary">Inactive Button</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="background-color: #212529;">
        <div class="card-body">
          <h5 class="card-title" style="color: white; font-size: 20px;">Send us a message</h1>
          <form method="post">
              {% csrf_token %}
              {{form1.as_p}}
              <button type="submit" class="btn btn-primary btn-md">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">How It Works</h1>
          <ul id="services">
            <li>
              <h3>Sign Up</h3>
              <p>Click the button below to sign up. Make sure you fill in your details correctly to be approved for withdrawal.</p>
                <a class="btn btn-md btn-info" href="#">Sign Up</a>
            </li>
            <li>
              <h3>Activity Engagement</h3>
              <p>Log In and engage in different tasks and activities in your dashboard.</p>
            </li>
            <li>
              <h3>Withdrawal</h3>
              <p>Put in your verified Paypal account while editing your profile so that you can cash out after meeting the specified earnings.</p>
            </li>
          </ul>
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>Contact us</h3>

            <form class="quote" action="" method="post">
                {% csrf_token %}
                {{form1.as_p}}
                <input class="button_1" type="submit">
            </form>

          </div>

        </aside>
      </div>
    </section>
-->
{% endblock %}

