{% extends 'task/main.html' %}

{% load static %}

{% block title %}<title>Kaycions | Login</title>{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/login_style.css' %}?{% now "U" %}">

	<div class="container-fluid" style=" padding-top:150px; padding-bottom:150px;">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">


					<h3 id="form-title">LOGIN</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
					    {% csrf_token %}
						<div class="input-group mb-3">
							<input type="email" name="email" placeholder="Email address..." class="form-control">
						</div>
						<div class="input-group mb-2">
                            <input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Login">
                        </div>
					</form>

				</div>

				<div class="mt-3">
                    <div class="d-flex justify-content-center links" style="color:#e8491d;"><span>Don't have an account?</span>
                        <a href="{% url 'register' %}" class=" mb-1" style="color:#e8491d; position:relative; left:5px;"> Sign Up</a>
                    </div>
					<div class="d-flex justify-content-center links" style="color:#e8491d;">
						Forgot password? <a href="{% url 'reset_password' %}" class="ml-2" style="color:#e8491d; position:relative; left:5px;">Reset password</a>
					</div>

				</div>
			</div>
		</div>
	</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}
