<form method="post" action="{% url 'delete_task' task.id %}" class="js-task-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirm task deletion</h4>
    </div>

    <div class="modal-body">
        <p class="lead">Are you sure you want to delete the task <strong>"{{task.category}} {{task.category_2}}"</strong>?</p>
    </div>
    <div class="row spinner" style="display: none; margin-left: auto; order: 2;">
        <div class="spinner-border mt-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete task</button>
    </div>
</form>