<form method="post" action="{% url 'update_task' form.instance.pk %}" class="js-task-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Update task</h4>
    </div>
    <div class="modal-body">
        {% include 'task/task_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="task-update-submit">Update task</button>
    </div>

</form>