{% extends 'task/main.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}<title>Kaycions | Password Reset Form</title>{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/login_style.css' %}?{% now "U" %}">

	<div class="container-fluid" style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 165px); max-height: calc(100vh - 165px);">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">


					<h3 id="form-title">RESET FORM</h3>
				</div>
				<div class="justify-content-center form_container">
					<p style="text-align: center; color:#e8491d;">Please enter your new password twice so we can verify you typed it in correctly.</p>	
					<div class="d-flex justify-content-center mb-2">
						<form method="POST">
							{% csrf_token %}
							{% render_field form.new_password1 class="form-control" placeholder="New Password" %}
							{% render_field form.new_password2 class="form-control mt-2" placeholder="Confirm Password" %}
							<input type="submit" class="btn login_btn mt-2" name="Update Password">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}
