{% extends 'task/main.html' %}

{% load static %}

{% block title %}<title>Kaycions | Password Reset Sent</title>{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/login_style.css' %}?{% now "U" %}">

	<div class="container-fluid" style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 165px); max-height: calc(100vh - 165px);">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex mt-1 justify-content-center">
					<h3 id="form-title">EMAIL SENT</h3>
				</div>
				<div class="justify-content-center form_container text-center" style="color: #e8491d;">
					<p>We've emailed you with instructions for resettng your password. If an account exists with the email you entered, you should receive it shortly</p>
					<p>If you didn't receive an email, make sure you've entered the email address you registered with, and check your spam folder.</p>
				</div>
			</div>
		</div>
	</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}
