{% load static %}
{% load custom_tags %}

<!doctype html>
<html lang="en">
  <head>
  	<title>{% block title %}Kaycions | Dashboard{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="{% static 'css/side_style.css' %}?{% now "U" %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5 ">
		  		<a onclick="window.location='{{user.worker.imageURL}}'" class="img logo rounded-circle mb-5" style="cursor: pointer; background-image: url({{user.worker.imageURL}}); background-position: top;"></a>
          <h5 class="dispname" style="text-align: center; color: white;">{{user.worker.full_name|capfirst}}</h5>
	        <ul class="list-unstyled components mb-5">
              {% url 'dashboard' as dashboard_url %}
	          <li {% if request.path == dashboard_url %}class="active"{% endif %}>
                    {% if request.user.is_staff %}
	                <a href="{% url 'dashboard' %}" >Dashboard</a>
	            {% else %}
                        <a href="{% url 'user-page' %}" >Dashboard</a>
                    {% endif %}
                  </li>
	          {% url 'profile' as profile_url %}
            <li {% if request.path == profile_url %}class="active"{% endif %}>
	              <a href="{% url 'profile' %}">Profile</a>
	          </li>
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% if user.is_staff %}Tasks{% else %}My Tasks{% endif %}</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                {% if user.is_staff %}
                {% url 'tasks' as tasks_url %}
                <li {% if request.path == tasks_url %}class="active"{% endif %}>
                    <a href="{% url 'tasks' %}">All Tasks</a>
                </li>
                {% url 'pending_tasks' as pending_tasks_url %}
                <li {% if request.path == pending_tasks_url %}class="active"{% endif %}>
                    <a href="{% url 'pending_tasks' %}">Pending Tasks</a>
                </li>
                {% url 'verified_tasks' as verified_tasks_url %}
                <li {% if request.path == verified_tasks_url %}class="active"{% endif %}>
                    <a href="{% url 'verified_tasks' %}">Verified Tasks</a>
                </li>
                {% url 'disapproved_tasks' as disapproved_tasks_url %}
                <li {% if request.path == disapproved_tasks_url %}class="active"{% endif %}>
                    <a href="{% url 'disapproved_tasks' %}">Disapproved Tasks</a>
                </li>
                {% else %}
                {% url 'unattempted_tasks' as unattempted_tasks_url %}
                <li {% if request.path == unattempted_tasks_url %}class="active"{% endif %}>
                    <a href="{% url 'unattempted_tasks' %}">Unattempted Tasks</a>
                </li>
                {% url 'worker_pending_tasks' as worker_pending_tasks_url %}
                <li {% if request.path == worker_pending_tasks_url %}class="active"{% endif %}>
                    <a href="{% url 'worker_pending_tasks' %}">Pending Tasks</a>
                </li>
                {% url 'worker_verified_tasks' as worker_verified_tasks_url %}
                <li {% if request.path == worker_verified_tasks_url %}class="active"{% endif %}>
                    <a href="{% url 'worker_verified_tasks' %}">Verified Tasks</a>
                </li>
                {% url 'worker_disapproved_tasks' as worker_disapproved_tasks_url %}
                <li {% if request.path == worker_disapproved_tasks_url %}class="active"{% endif %}>
                    <a href="{% url 'worker_disapproved_tasks' %}">Disapproved Tasks</a>
                </li>
                {% endif %}
              </ul>
	          </li>
            {% if user.is_staff %}
            {% url 'workers' as workers_urlll %}
	          <li {% if request.path == workers_urlll %}class="active"{% endif %}>
              <a href="{% url 'workers' %}">Workers</a>
	          </li>
            {% endif %}
            {% url 'withdrawal' as withdrawal_url %}
	          <li {% if request.path == withdrawal_url %}class="active"{% endif %}>
              <a href="{% url 'withdrawal' %}">Earnings & Withdrawal</a>
	          </li>
            {% if user.is_staff %}
            {% url 'withdrawalrequests' as withdrawalrequests_url %}
            <li {% if request.path == withdrawalrequests_url %}class="active"{% endif %}>
              <a href="{% url 'withdrawalrequests' %}">Withdrawal Requests</a>
	          </li>
            {% endif %}
            {% url 'help_centre' as help_centre_url %}
            <li {% if request.path == help_centre_url %}class="active"{% endif %}>
              <a href="{% url 'help_centre' %}">Help Centre</a>
            </li>
            {% url 'logout' as logout_url %}
            <li {% if request.path == logout_url %}class="active"{% endif %}>
              <a href="{% url 'logout' %}">Log Out</a>
            </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Kaycions | All rights reserved | This sidebar template is made <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a> | 
              Site Developed by <a target="_blank" href="https://wa.me/2348095602320">Kay Progammer</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
                </button>


                {% show_notifications %}

                
            </div>
            </nav>

            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/side.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    
    <script type="text/javascript">

    //-----------  NOTIFICATIONS JS CODE----------------------------
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function removeNotification(removeNotificationURL, redirectURL) {
            const csrftoken = getCookie('csrftoken');
            let xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                    if (xmlhttp.status == 200) {
                        window.location.replace(redirectURL);
                    } else {
                        alert('There was an error');
                    }
                }
            };

            xmlhttp.open("DELETE", removeNotificationURL, true);
            xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
            xmlhttp.send();
        }

        function removeAllNotification(removeAllNotificationURL, redirectURL) {
            const csrftoken = getCookie('csrftoken');
            let xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                    if (xmlhttp.status == 200) {
                        window.location.replace(redirectURL);
                    } else {
                        alert('There was an error');
                    }
                }
            };

            xmlhttp.open("DELETE", removeAllNotificationURL, true);
            xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
            xmlhttp.send();
        }
//---------------------------------------------------------------------------------------

      $(document).on('submit', '.pending-task-form', function(event){
          event.preventDefault();
          event.stopPropagation();
          var btn_id = $(this).children('div').attr('id')
          var btn_div = $(this).next().attr('id')
          var link = $(this).children().children('button').attr('data-url')
          var border_class = $(this).parent().parent('div').attr('id')
          var border_class2 = $(this).parent().attr('id')
          var border_class3 = $(this).parent().prev().prev('div .card-header').attr('id')
          var current_url = "{{request.path}}"
          var user_dashboard = "{% url 'user-page' %}"

          $.ajax({
              type: 'POST',
              url: $(this).attr('action'),
              data: $(this).serialize(),
              dataType: 'json',
              success: function(response) {
                  if(response.pending === true){
                    if(current_url === user_dashboard ){
                      $('#' + btn_id).html('<div style="padding-top: 4px; font-weight: bold; align-self: center; color: white; font-size: 12px;">Pending Approval <i style="color: yellow;" class="fas fa-dot-circle"></i></div>')
                      $('#' + btn_div).html(`<button id="butt" class="btn btn-sm btn-primary" type="click"><a href="${link}" class="card-link" style="font-weight: bold; font-size:11.5px; color: white;" target="_blank">Check again</a></button>`)
                      
                      $('#' + border_class).removeClass('border-primary').addClass('border-warning')
                      $('#' + border_class2).removeClass('border-primary').addClass('border-warning')               
                      $('#' + border_class3).removeClass('border-primary').addClass('border-warning')                              
                      $('.tasks-status').load(window.location.href + ' .tasks-status')
                    }else{
                      $('.user-tasks').load(window.location.href + " .user-tasks")
                    }
                    var win = window.open(link, '_blank');
                    if (win) {
                      win.focus();
                    }else{
                      alert('Please allow popups for this website');
                    }
                  } 
              },
              error: function(rs, e) {
              },
          });
          return false
      });

      $(document).ready(function() {
  
        var loadForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function (e) {
                    $("#modal-profile .modal-content").html("");
                    $("#modal-profile").modal("show");
                },
                success: function (data) {

                    $("#modal-profile .modal-content").html(data.html_form);
                    
                }
            });
        };

        $('#file').on('change', function(){
          const url = URL.createObjectURL($('#file').files[0])
          $('#img-box').html(`<img src="${url}" width="250" height="282">`)
        })

        var saveProfileEditForm = function () {
            var form = $(this);
            var fd = new FormData(this);

            $.ajax({
              url: form.attr("action"),
              data: fd,
              type: form.attr("method"),
              dataType: 'json',
              enctype: 'multipart/form-data',
              contentType: false,
              processData: false,
              cache: false,
              beforeSend: function(){
                $('#update-profile-btn').replaceWith(`<button disabled type="submit" class="btn btn-primary" id="update-profile-btn">Saving...</button>`)
              },
              success: function (data) {
                
                if (data.form_is_valid) {
                  Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Profile has been successfully updated',
                    button :'Ok',
                    timer : 2500,
                  });
                  $("#profile-list").html(data.html_profile_list);
                  $(".img").load(window.location.href + " .img");
                  $(".dispname").load(window.location.href + " .dispname");
                  $("#modal-profile").modal("hide");
                }

                else {
                  $("#modal-profile .modal-content").html(data.html_form);
                }
              }
            });
            return false;
        };

        /* Binding */
        $(".js-edit-profile").click(loadForm);
        $("#modal-profile").on("submit", ".js-profile-edit-form", saveProfileEditForm);

      });

      $(document).on('click', '.dropdown-menu', function(e){
        e.stopPropagation();
      
      })

      $(document).ready(function() {
        var loadForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function (e) {
                    $("#modal-task .modal-content").html("");
                    $("#modal-task").modal("show");
                },
                success: function (data) {

                    $("#modal-task .modal-content").html(data.html_form);
                }
            });
        };

        var saveForm = function () {
            var form = $(this);
            $.ajax({
              url: form.attr("action"),
              data: form.serialize(),
              type: form.attr("method"),
              dataType: 'json',
              beforeSend: function(){
                $('#task-create-submit').replaceWith(`<button disabled type="submit" class="btn btn-primary">Creating...</button>`)
              },
              success: function (data) {
                data.preventDefault;
                if (data.form_is_valid) {
                  Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Task has been added',
                    button :'Ok',
                    timer : 2500
                  });
                  $("#task-table").html(data.html_task_list);
                  $("#modal-task").modal("hide");
                }

                else {
                  $("#modal-task .modal-content").html(data.html_form);
                }
              }
            });
            return false;
        };

        var updateForm = function () {
            var form = $(this);
            $.ajax({
              url: form.attr("action"),
              data: form.serialize(),
              type: form.attr("method"),
              dataType: 'json',
              beforeSend: function(){
                $('#task-update-submit').replaceWith(`<button disabled type="submit" class="btn btn-primary">Updating...</button>`)
              },
              success: function (data) {
                data.preventDefault;
                if (data.form_is_valid) {
                  Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Task has been updated',
                    button :'Ok',
                    timer : 2500
                  });
                  $("#task-table").html(data.html_task_list);
                  $("#modal-task").modal("hide");
                }

                else {
                  $("#modal-task .modal-content").html(data.html_form);
                  
                }
              }
            });
            return false;
        };

        var delForm = function () {
            var form = $(this);
            $.ajax({
              url: form.attr("action"),
              data: form.serialize(),
              type: form.attr("method"),
              dataType: 'json',
              beforeSend: function(){
                $('#task-delete-submit').replaceWith(`<button disabled type="submit" class="btn btn-primary">Deleting...</button>`)
              },
              success: function (data) {
                data.preventDefault;
                if (data.form_is_valid) {
                  Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Task has been deleted',
                    button :'Ok',
                    timer : 2500
                  });
                  $("#task-table").html(data.html_task_list);
                  $("#modal-task").modal("hide");
                }

                else {
                  $("#modal-task .modal-content").html(data.html_form);
                }
              }
            });
            return false;
        };

        /* Binding */
        $(".js-create-task").click(loadForm);
        $("#modal-task").on("submit", ".js-task-create-form", saveForm);

        // Update task
        $("#task-table").on("click", ".js-update-task", loadForm);
        $("#modal-task").on("submit", ".js-task-update-form", updateForm);

        // Delete task
        $("#task-table").on("click", ".js-delete-task", loadForm);
        $("#modal-task").on("submit", ".js-task-delete-form", delForm);
    });
    </script>

    {% block javascript %} {% endblock %}

{% load sweetify %}
{% sweetify %}
  </body>
</html>
