{% load static %}

<br>
<div class=" table-responsive">
    <div class="text-center tasks-status" style="display: flex; width: 10em;">
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Total Tasks</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">{{total_tasks}}</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" id="tasks-pending" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Tasks Unattempted</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">{{unattempted_tasks.count}}</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" id="tasks-pending" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Tasks Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">{{pending_tasks.count}}</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" id="tasks-verified" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Tasks Verified</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">{{verified_tasks.count}}</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-center text-white mb-3 mr-1" id="tasks-pending" style="background-color:#5d676e; width: 20em;">
                <div class="card-header">
                    <h5 class="card-title" style="color: white; font-size: 18px;">Tasks Disapproved</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-size: 18px;">{{disapproved_tasks.count}}</h3>
                </div>
            </div>
        </div>
    </div>

</div>