{% extends 'task/sidmain.html' %}
{% load static %}

{% block title %}Kaycions | All Tasks{% endblock %}

{% block content %}

    <div class="row" style="margin-top:30px;">
        <div class="col">
            <div class="card card-body" style="background-color:lightgrey;">
                <button type="button" class="btn btn-primary btn-sm btn-block js-create-task" data-url="{% url 'create_task' %}" style="font-weight:bold;">CREATE TASK</button>
                <div class="table-responsive">
                  <table class="table table-sm" id="task-table">

                      {% include 'task/partial_task_list.html' %}

                  </table>
                </div>
                <div class="modal fade" id="modal-task">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock javascript %}


<!--------
Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
  }
})--->
