{% extends 'task/main.html' %}

{% load static %}

{% block title %}<title>Kaycions | Terms & Conditions</title>{% endblock %}

{% block content %}

<nav class="navbar navbar-light justify-content-between" style="padding: 25px; background-color: #212529;">
  <span style="color: white;" class="navbar-brand">Suscribe To Our Newsletter</span>
  <form method="post" class="form-inline d-flex">
    {% csrf_token %}
    {{form.email}}
    <button style="margin-left: 15px;" class="btn btn-outline-success my-2 my-sm-0" type="submit">Suscribe</button>
  </form>
</nav>

<h1 class="faqq">TERMS AND CONDITIONS</h1>
<div class="row container-fluid mt-4">
  <div class="card" style="background-color:#dbdbdb;">
      <div class="card-body bs-callout">
          {% for t in terms %}
          <div class="bs-callout bs-callout-danger">
            <h4 style="font-weight: bold;">{{t.terms_title}}:</h4>
            <p>{{t.terms_text}}</p>
          </div>
          {% endfor %}
      </div>
  </div>    
</div>

{% endblock %}