{% extends 'task/sidmain.html' %}

{% load static %}

{% block title %}Kaycions | Unattempted Tasks{% endblock %}

{% block content %}

<h4 style="font-weight: bold; color: #35424a;">UNATTEMPTED TASKS</h1>
<p style="color: orange; font-weight: bold;">Tasks deletes automatically upon expiry!</p>

<div class="row no-gutters table-responsive">
    <div class="card-group user-tasks" >
    {% for t in unattempted_tasks %}
        <div id="card-{{forloop.counter}}" class="card border-primary mb-1 mr-1">
            <div style="align-items: center; background-color: #35424a;" id="card-header-{{forloop.counter}}" class="card-header border-primary d-flex">
                <div style="width: 200px; font-size:15px; font-weight:bold; color: white;">{% if t.category == 'Facebook' %}
                    <i class="fab fa-facebook"></i> 
                    {% elif t.category == 'Twitter' %}
                        <i class="fab fa-twitter"></i> 
                    {% elif t.category == 'Instagram' %}
                        <i class="fab fa-instagram"></i> 
                    {% elif t.category == 'Youtube' %}
                        <i class="fab fa-youtube"></i>  
                    {% else %}
                        <i class="fas fa-pen-square"></i>       
                    {% endif %}
                    {{t.category_2}}
                </div> 
                <div style="width: 150px; font-size: 13px; text-align: right; color: white; font-weight: bold; margin-left: auto; order: 2;">Worth: ${{t.price}}</div>
            </div>
            <div class="card-body text-success" id="card-body-{{t.id}}">
                <h5 class="card-title" style="font-size: 14px; font-weight: bold;">Expires: {{t.task_expiry_time|time:"h:ia "}}. {{t.task_expiry_date|date:"D M d Y "}}</h5>
                <p class="card-text" style="font-weight: bold; font-size: 13px;">{{t.description}}</p>
            </div>
            <div id="card-footer-{{forloop.counter}}" style="background-color: #35424a;" class="card-footer border-primary d-flex">
                <form method="POST" action="{%  url 'attempttask' t.id %}" class="pending-task-form">
                    {% csrf_token %}
                    <div id="perform-task-{{forloop.counter}}"><button data-url="{{t.link}}" id="butt" class="btn btn-md btn-info" type="click" target="_blank" style="font-size: 11px ; font-weight:bold;">Perform Task</button></div>
                </form>
                <div id="check-{{forloop.counter}}" style="text-align: right; margin-left: auto; order: 2;"><button type="button" data-toggle="modal" data-target="#ignore-task-{{forloop.counter}}" id="butt" class="btn btn-sm btn-danger" type="click" style="font-size: 12px; font-weight: bold;">Ignore Task</button></div>
                <div class="modal fade" id="ignore-task-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ignore Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to ignore this task <strong>"{{t.category}}: {{t.category_2}}"</strong>? You won't see it again!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{% url 'delete_your_task' t.id %}" class="btn btn-danger">Ignore</a>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    {% empty %} 
        <p style="color: blue; text-align: right;">There are no new tasks for you! Check later</p>               
    {% endfor %}
    </div>
</div>

{% endblock %}