body{
  font: 15px/1.5 Arial, Helvetica,sans-serif, cursive, Apple Chancery;
  padding:0;
  margin:0;
  background-color:#dbdbdb;
  min-height: 100%;
}

html{
  min-height: 100%;
}
/* Global */
.container{
  width:85%;
  margin:auto;
  overflow:hidden;
}

.nav-link{
  color:white !important;
}

.active{
  color:#e8491d !important;
}

.nav-link:hover{
  color: lightgray !important;
}

.navbar-nav .nav-item .nav-link{
  margin-left: 10px;
}

.faqq{
  font-weight: bold; 
  text-align: center;
  margin-top: 10px;
}

@media(max-width:360px){
  .faqq{
    font-size: 20px;
  }
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Showcase */
#showcase{
  min-height:380px;
  background:url('../images/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:50px;
  font-size:30px;
  font-weight:bold;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  display: flex;
  padding:15px;
  color:#ffffff;
  background:#212529;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;

}

.bg-gray{
  background-color: grzz;
}

.row .col-4{
  min-width: 300px;
}

.row .col{
  min-width: 500px;
}

.contt{
  padding:50px;
}

@media(max-width:875px){
  .row .col-4{
    min-width: 300px;
  }
  
  .row .col{
    min-width: 400px;
    margin-bottom: 25px;
  }
}

@media(max-width:476px){
  .row .col-4{
    min-width: 100%;
  }
  
  .row .col{
    min-width: 100%;
    margin-bottom: 25px;
  }

  .contt{
    padding:30px;
  }
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* How It Works */


ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

/* Faqs */
article#answers{
  width:75%;
  margin:auto;
}

.page-title{
    font-size:40px;
}

#messages{
    font-size:20px;
    font-weight: bold;
}

#messages1{
    font-size:20px;
    font-weight: bold;
    margin-right:95px;
    margin-top:0;
    margin-bottom:0;
    text-align:right;
}



/* Questions */
ul#Questions li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}
.button_1{
    margin-top:5px;
}

footer{
  padding-top: 28px;
  padding-bottom: 10px;

  vertical-align: middle;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
  z-index: 999999;
}


/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes.box,
  article#main-col,
  ul#Questions li,
  #faqs,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:10px;
    font-size:14px;
    text-align:center;
  }
  header ul{
    font-size:5px;
  }

  #showcase h1{
    font-size:30px;
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }

  ul#Questions li{
    text-align:center;
  }

  #faqs{
    text-align:center;
  }

  #boxes .box{
  float:left;
  text-align: center;
  width:90%;
  padding:10px;
  }

}

.bs-callout {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  padding: 20px;
}
.bs-callout:last-child {
  margin-bottom: 0px;
}
.bs-callout h4 {
  margin-bottom: 10px;
  margin-top: 0;
}

.bs-callout h6{
  font-style: italic;
  font-size: 0.7em;
  color: #212529;
}

.bs-callout p{
  font-size: 1em;
}

.bs-callout-danger {
  border-left-color: #212529;
}

.bs-callout-danger h4{
  color: #212529;
}

@media(max-width:991px){
  .navbar-nav .nav-item .nav-link{
    margin-left: 0;
  }
}
