body{
  font: 15px/1.5 Arial, Helvetica,sans-serif, cursive, Apple Chancery;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:85%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:16px;
  padding-bottom:16px;
  min-height:30px;
  border-bottom:#e8491d 2px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:380px;
  background:url('../images/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:50px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:9px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

#howitworks{
  padding:9px;
  margin-top:0px;
  color:#ffffff;
  background:#35424a
}

#howitworks h1{
    text-align:center;
}


/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:130px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* How It Works */


ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

/* Faqs */
article#answers{
  width:75%;
  margin:auto;
}

.page-title{
    font-size:40px;
}

#messages{
    font-size:20px;
    font-weight: bold;
}

#messages1{
    font-size:20px;
    font-weight: bold;
    margin-right:95px;
    margin-top:0;
    margin-bottom:0;
    text-align:right;
}



/* Questions */
ul#Questions li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}
.button_1{
    margin-top:5px;
}

footer{
  padding-bottom:20;
  padding:8px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes.box,
  article#main-col,
  ul#Questions li,
  #faqs,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:10px;
    font-size:14px;
    text-align:center;
  }
  header ul{
    font-size:5px;
  }

  #showcase h1{
    font-size:30px;
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }

  ul#Questions li{
    text-align:center;
  }

  #faqs{
    text-align:center;
  }

  #boxes .box{
  float:left;
  text-align: center;
  width:90%;
  padding:10px;
  }

}